:root {
  --primary-font-family: "Nunito", sans-serif;
  --primary-bg-color: linear-gradient(
    150deg,
    rgb(0, 0, 0) 60%,
    rgb(102, 46, 237) 100%
  );
  --primary-color: #423b67;
  --secondary-color: white;
  --third-color: rgb(102, 46, 237);
  --picture-width: 400px;
  --border: 0px 0px 20px rgb(102, 46, 237, 1);
  --border-radius: 20px;
}

body {
  font-family: var(--primary-font-family);
  background: var(--primary-bg-color);
  color: var(--primary-color);
}

h2 {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 36px;
  padding-top: 110px;
}

h1 {
  font-weight: 700;
  font-size: 65px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 40px;
}

.hero {
  padding: 170px 0;
}

.hero a {
  color: var(--secondary-color);
  text-decoration: none;
  padding: 30px 20px;
  width: 200px;
  border-radius: var(--border-radius);
  transition: all 200ms ease-in-out;
}

.hero a:hover {
  color: var(--third-color);
  box-shadow: var(--border);
  transition: all 200ms ease-in-out;
}

.hero img {
  width: var(--picture-width);
  border-radius: var(--border-radius);
  display: block;
  margin: 0 auto;
}

.hero img:hover {
  color: var(--third-color);
  box-shadow: var(--border);
  transition: all 200ms ease-in-out;
  width: 395px;
}

.container-projects {
  background: white;
  font-family: Poppins,sans-serif;
  max-width: 100%;
  padding: 0 60px;
}

.projects {
  padding: 0 120px 120px 120px;
}

.title-projects {
  font-weight: 300;
  color: black;
  text-align: center;
  font-size: 48px;
  margin:0;
  padding-bottom: 110px;
}

.projects h2 {
  font-family: Poppins,sans-serif;
  color: black;
  
  font-size: 60px;
}

.projects-p {
  font-size: 20px;
  line-height: 30px;
  padding: 20px 20px 20px 0;
}

.projects img {
  width: 700px;
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  h2 {
    padding-top: 50px;
    font-size: 18px;
  }

  h1 {
    font-size: 32px;
  }

  h3 {
    font-size: 10px;
    margin: 0;
  }

  .hero {
    padding: 100px 0;
    text-align: center;
  }
  .hero img {
    width: 250px;
    margin-bottom: 30px;
  }

  .hero .big {
    display: none;
  }

  .hero .small {
    color: var(--secondary-color);
    text-decoration: none;
    width: 175px;
    transition: all 200ms ease-in-out;
    padding: 15px 10px;
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 769px) {
  .hero .big {
    display: block;
  }

  .hero .small {
    display: none;
  }
}
